/*
  Import this file in your stylus and use @media $mobile etc, please feel free 
  to add other breakpoints
*/
$mobile = 'only screen and (max-width: 599px)'
$mobile-tablet = 'only screen and (max-width: 1024px)'
$tablet = 'only screen and (min-width: 600px) and (max-width: 1024px)'
$desktop = 'only screen and (min-width: 1025px)'
$large-desktop = 'only-screen and (min-width: 1240px)'
